*{
	margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif; /* Base font family for most elements */
    font-size: 0.8em; /* Base size for all elements; other size definitions relates to this */
    background-color: #ffffff;
    background: url(../img/bg_cuadricula.png) 0 0 repeat;
}


h1{
	border-bottom: 1px solid #000000;
    font-size: 1.8em;
    font-weight: normal;
    padding-left: 5px;
    padding-top:10px;
}
h3{
	font-weight: normal;
	font-size:17px;
}	
a{
    color: #000;
	text-decoration: underline;
}
a:hover{
    color: white;
	background-color:#9B9B9B;
	text-decoration:none;
}
a img{
    border: none; 
}

header{
	background: url(../img/cabecera.jpg);
	height: 110px;
	clear: both;
}

article{
	background-color: #FFFFFF;
    margin: 0 auto;
    width: 750px;
    clear: both;
}

nav#menu{
	border-bottom: 1px solid #9B9B9B;
    margin: 0;
    padding: 0;
    clear: both;
    height: 23px;
}
nav#menu ul li {
    border-right: 1px solid #9B9B9B;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
nav#menu ul li a{
    color: black;
    text-decoration: none;
}
nav#menu ul li a:hover{
	background-color: white;
	color:#9B9B9B;
}
nav#menu li div.spacing, nav#submenu li div.spacing {
    padding: 0.3em 10px;
}
nav#menu li div.activa {
    background-color: #A4A4A4;
    padding: 0.2em 12px 0.4em;
}
nav#menu li div.activa a{
	color: white;
}
nav#menu li div.activa a:hover{
	color: white;
	background-color:#A4A4A4;
	text-decoration: underline;
}
nav#submenu{
    margin: 0;
    padding: 0;
    clear: both;
}
nav#submenu ul li{
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}
nav#submenu ul li a{
    color: black;
    text-decoration: none;
}
nav#submenu ul li a:hover{
	background-color: white;
	color:#9B9B9B;
}
nav#submenu li div.activa{
	color:#9B9B9B;
	background-color: white;
	padding: 0.2em 12px 0.3em 12px;
}

nav#idiomas {
	text-align: right;
	font-size: 11px;
	color: #999;
	padding-right: 5px;
	text-transform: lowercase;
}

label {
    display: block;
    font-weight: bold;
}

p{
	margin: 5px 0px;
}
footer{
	border-top:1px dashed #000; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
	color:gray; 
	background-color:#FFFFFF;
	text-align:left;
	clear: both;
}
footer a{
	font-size:11px;
	color: gray;
	text-decoration:none;
	margin-right: 5px;
}
footer a:hover{
	text-decoration: underline;
	background-color:white;
	color: gray;
}
p.logo-pie{
	padding: 10px;
}

p.logo-pie a span{
	vertical-align: 40%;
	display:inline-block;
	margin-left: 4px;
}

div#frase{
	font-size:25px;
	background-color: #A4A4A4;
	text-align: center;
	color: white;	
}

aside{
  float: left;
    padding-left: 5px;
    width: 180px;
    clear: both;
    padding-top:15px;
}
aside img {
    border: 3px solid #A4A4A4;
}
aside a img:hover {
    border: 3px solid #666;
}
section{
	float: left;
    width: 100%;
}
section.doscolumnas{
	width: 500px;
	padding-left: 20px;
}

/* table */
table {
	font-size: 12px;
	margin: 20px 0px;
	border-collapse: collapse;
	display: table;
	border-spacing: 2px;
	border-color: gray;
	width: 720px;
}
table th {
	color: #9B9B9B;
	background-color: white;
	font-size: 15px;
	text-align: left;
}
table tr {
	border-bottom: 1px solid #9B9B9B;
}

div.ficha-columnaizquierda {
    float: left;
    width: 180px;
    padding-left: 20px;
}
div.ficha-columnaderecha {
    float: right;
    padding-right: 20px;
    width: 500px;
}
iframe.video{
	height: 400px;
    width: 100%;
}