*{
	margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif; /* Base font family for most elements */
    font-size: 15px; /* Base size for all elements; other size definitions relates to this */
    background-color: #ffffff;
    background: url(../img/bg_cuadricula.png) 0 0 repeat;
    margin: 0;
    padding: 0;
}
header{
	background: url(../img/cabecera.jpg);
	margin: 0;
    height: 70px;
    cursor: pointer;
}
article{
    width: 750px;
    margin: 0 auto 0 auto;
    background-color: #ffffff;
}
aside{
	float: left;
    width: 400px;
    margin-top:18px;
    margin-left:20px;
    margin-bottom:20px;
}
a {
	color:#F86611;
}
a:hover {
	color:black;
}
ul{
	list-style: none;
}
nav#menu{
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #EB6D30;
	background-color: #FBB14B;
	height: 25px;
}
nav a {
	color: black;
}
nav ul li{
	padding: 0.2em 12px 0.4em 12px;
	float: left;
	display: block;
}
nav#menu ul li{
	border-right: 1px solid #eb6d30;
}
nav#menu li.activa{	
	background-color: #F86611;
	color: black;
}
nav#submenu li.activa{
	color: #eb6d30;
}
nav#menu li.activa a.hover{
	color: #FBB14B;
}
nav#menu li.spacing a:hover{
	color:#eb6d30;
}
nav#submenu a:hover {
	color: #FBB14B;
}

aside{
	width: 200px;
	height:100%;
	float: left;
}

section {
	float: left;
	padding: 2px;
	clear: both;
	margin-top:10px;
	width: 100%;
}

fieldset{
	border: none;
	padding: 20px;
}

footer{ 
    clear: both;
	text-align: right;
	width:100%;
	color:#bbb
}


h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    padding: 0;
    margin: 0px;
}
h1{
    font-size: 25px;
    border-bottom: 1px solid #000;
}

ul{
	margin: 0px;
	padding:0px;
}
/* LINKS */
a{
    text-decoration:none;
}

label{
	display: block;
	font-weight: bold;
	clear: both;
}

p{
	margin:10px 0px;
}

div#main, div.doscolumnas {
	margin:20px;
}

div#idiomas {
	text-align: right;
	font-size: 11px;
	color: #999999;
	padding-right: 5px;
}
iframe.video{
	width: 100%;
	height: 350px;
}

div.ficha-columnaizquierda{
	float:left;
	width:180px;
}
div.ficha-columnaizquierda > a img {
    border: 1px solid #E3ECFB;
    width: 180px;
}
div.ficha-columnaizquierda > a img:hover {
    border: 1px solid #eb6d30;
}
div#licencia{
	margin:20px 50px;	
}

div.ficha-columnaderecha{
	float:right;
	width:500px;
}
div.inicio-columnaizquierda{
  float: left;
    padding-left: 5px;
    width: 180px
}
div.inicio-columnaizquierda a img {
    border: 1px solid #E3ECFB;
}
div.inicio-columnaizquierda a img:hover {
    border: 1px solid #eb6d30;
}
div.inicio-columnaderecha{
	float: left;
 	padding-left: 20px;
    width: 500px;
}

/* doc */
div#doc-by{
	background: url("../../../../../../img/logo/licencias/BY.png") no-repeat scroll 0 0 transparent;
    height: 40px;
    padding-left: 45px;
    width: 500px;
}
div#doc-nd{
	background: url("../../../../../../img/logo/licencias/ND.png") no-repeat scroll 0 0 transparent;
    height: 40px;
    padding-left: 45px;
    width: 500px;
}
div#doc-nc{
	background: url("../../../../../../img/logo/licencias/NC.png") no-repeat scroll 0 0 transparent;
    height: 40px;
    padding-left: 45px;
    width: 500px;
}
div#doc-sa{
	background: url("../../../../../../img/logo/licencias/SA.png") no-repeat scroll 0 0 transparent;
    height: 40px;
    padding-left: 45px;
    width: 500px;
}
div#doc-02{
	background: url("../../../../../../img/logo/licencias/88x31/02.png") no-repeat scroll 0 5px transparent;
    height: 50px;
    padding-left: 100px;
}
div#doc-colorIURIS{
	background: url("../../../../../../img/logo/licencias/88x31/colorIURIS.png") no-repeat scroll 0 15px transparent;
    height: 70px;
    padding-left: 100px;
}
div#doc-20{
	background: url("../../../../../../img/logo/licencias/88x31/20.png") no-repeat scroll 0 5px transparent;
    height: 40px;
    padding-left: 100px;
}
div#doc-21{
	background: url("../../../../../../img/logo/licencias/88x31/21.png") no-repeat scroll 0 5px transparent;
    height: 50px;
    padding-left: 100px;
}
div#doc-22{
	background: url("../../../../../../img/logo/licencias/88x31/22.png") no-repeat scroll 0 5px transparent;
    height: 50px;
    padding-left: 100px;
}
div.ej_cc{
	float:left;
	width:220px;
	margin-right:10px;
}
span.little{
	font-size:9px;
}

/* galeria texto */
#galeria-texto{
	height: 250px;
}

#galeria-texto a img{
	border: 1px solid #F86611;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
	height: 100px;
	margin-bottom: 15px;
	margin-right: 15px;
	position: relative;
	width: 100px;
}
#galeria-texto a img:hover {
	border: 1px solid #666666;
}
#galeria-texto a{
	text-decoration: none;
	background-color: white;
}
#galeria-texto a span {
    background: url("../../commons/img/play.png") no-repeat scroll 0 0 transparent;
    height: 50px;
    left: 30px;
    position: absolute;
    top: 30px;
    width: 50px;
    z-index: 100;
}

/* idiomas */
nav#idiomas{
	text-align: right;
	font-size: 11px;
	padding-right: 5px;
}
nav#idiomas a{
	color:#999999;
	text-decoration: underline;
}
nav#idiomas a:hover{
	text-decoration: none;
	background-color: white;
}
.img_muestra {
	float:left;
	margin-bottom:20px;
	margin-left:15px;
	width:220px;
	height:260px;
}
.img_muestra img{
	border: 3px solid #eb6d30;
}
.img_muestra img:hover {
	border: 3px solid #666666;
}
.img_muestra span.pie {
    color: grey;
    font-size: 11px;
}


/* escaparate */
#escaparate  div{
	float: left;
	height: 100px;
	margin-bottom: 15px;
	margin-right: 15px;
	position: relative;
	width: 100px;
}
#escaparate a img{
	border: 3px solid #eb6d30;
	margin-right: 5px;
	margin-bottom: 5px;
}
#escaparate a img:hover {
	border: 3px solid #666666;
}
#escaparate a{
	text-decoration: none;
	background-color: white;
}
#escaparate div a span {
    background: url("../../commons/img/play.png") no-repeat scroll 0 0 transparent;
    height: 50px;
    left: 30px;
    position: absolute;
    top: 30px;
    width: 50px;
    z-index: 100;
}

/* contacta */
div#correcto{
	margin-left: 40px;
	font-weight: bold;
}
#form-contacta{	
	width: 80%;
	margin-top: 15px;
	margin-left: 40px;
}
#form-contacta input{
	height: 25px;
}
#form-contacta input, #form-contacta textarea{	
	width: 80%;
	margin-bottom: 10px;
	font-family: arial;
	font-size:15px;
	padding-left: 5px;
}

div#msg {
	background: none repeat scroll 0 0 #FCFDE5;
	border: 1px solid red;
	color: red;
	font-weight: normal;
	margin-top: 15px;
	padding: 5px 20px;
}

.oculto{
	display: none;
}

a#b-mail{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #FBB14B;
	border: 1px solid #FBB14B;
	display: inline-block;
	color: black;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	width:50px;
}
a#b-mail:hover{
	background-color: #EB6D30;
	border: 1px solid #EB6D30;
}

/* table */
table {
	font-size: 12px;
	margin: 20px 0px;
	border-collapse: collapse;
	display: table;
	border-spacing: 2px;
	border-color: gray;
	width: 720px;
}
table th {
	color: #EB6D30;
	background-color: white;
	font-size: 15px;
	text-align: left;
}
table tr {
	border-bottom: 1px solid #EB6D30;
}


/* footer */
footer {
	border-top:1px dashed #000; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
	color:gray;
	text-align:left;
	padding:10px;
}

footer a{
	text-decoration: underline;
	color: gray;
	font-size: 12px;
	background-color:white;
}
footer a:hover{
	text-decoration:none;
}
p.logo-pie a{
	margin-right: 5px;
	text-decoration: underline;
}
p.logo-pie a span{
	vertical-align: 40%;
	display:inline-block;
	margin-left: 4px;
}	

div.msg-footer{ 
    clear: both;
	text-align: center;
	color:black;
	font-size:23px;
	background-color: #FBB14B;
	bottom:0;
}


@media screen and (max-width:320px){  
	
	*{
		margin: 0;
	    padding: 0;
	}
	
	body{
	    font-family: Arial, Helvetica, sans-serif; /* Base font family for most elements */
	    background-color: #ffffff;
	    background: url(../img/bg_cuadricula.png) 0 0 repeat;
	    margin: 0;
	    padding: 0;
	}
	
	article {
	    background-color: #FFFFFF;
	    margin: 0 auto;
	    width: 100%;
	}
	
	h1 {
	    border-bottom: 1px solid #000000;
	    font-size: 20px;
	}
	
	aside{
		width: 100%;
	}
	
	aside img{
		width: 80%;
	}
	
	section{
	
	}
	
	div.doscolumnas {
	   margin: 5px;
	}
	
}