
/* inicio + menu */
nav{
	font-size: 20px;
}

nav h3{
	padding-left:40px;
}
nav h3 span{
	padding:5px 0;
}

h3.logo-1{
	background-image: url("../img/admin.png");
	background-repeat: no-repeat
}
h3.logo-2{
	background-image: url("../img/web.png");
	background-repeat: no-repeat
}
h3.logo-3{
	background-image: url("../img/cine.png");
	background-repeat: no-repeat
}
h3.logo-4{
	background-image: url("../img/mail.png");
	background-repeat: no-repeat
}
ul.menu{
	background-position: 80px 10px;
    background-repeat: no-repeat;
}
nav.menu-1{
	background-image: url("../img/admin.png");
	background-position: 30px 50%;
    background-repeat: no-repeat;
    height: 40px;
    margin-left: 20px;
}
nav.menu-2{
	background-image: url("../img/web.png");
	background-position: 30px 50%;
    background-repeat: no-repeat;
    height: 40px;
    margin-left: 20px;
}
nav.menu-3{
	background-image: url("../img/cine.png");
	background-position: 30px 10px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 20px;
}
nav.menu-4{
	background-image: url("../img/mail.png");
	background-position: 30px 50%;
    background-repeat: no-repeat;
    height: 40px;
    margin-left: 20px;
}
li#id-usuario-activa{background-image: url("../img/usuario.png");background-position: 5px 5px;background-repeat: no-repeat;}
li#id-usuario{background-image: url("../img/usuario_off.png");background-position: 5px 5px;background-repeat: no-repeat;}
li#id-usuario:hover{background-image: url("../img/usuario.png");}

li#id-config-activa{background-image: url("../img/config.png");background-position: 5px 5px;background-repeat: no-repeat;}
li#id-config{background-image: url("../img/config_off.png");background-position: 5px 5px;background-repeat: no-repeat;}
li#id-config:hover{background-image: url("../img/config.png");}

li#id-modulos-activa{background-image: url("../img/modulos.png");background-position: 5px 5px; background-repeat: no-repeat;}
li#id-modulos{background-image: url("../img/modulos_off.png");background-position: 5px 5px; background-repeat: no-repeat;}
li#id-modulos:hover{background-image: url("../img/modulos.png");}

li#id-imagen-activa{background-image: url("../img/imagen.png");background-position: 5px 5px;background-repeat: no-repeat;}
li#id-imagen{background-image: url("../img/imagen_off.png");background-position: 5px 5px;background-repeat: no-repeat;}
li#id-imagen:hover{background-image: url("../img/imagen.png");}

li#id-pelicula-activa{background-image: url("../img/pelicula.png");background-position: 5px 5px;background-repeat: no-repeat;}
li#id-pelicula{background-image: url("../img/pelicula_off.png");background-position: 5px 5px;background-repeat: no-repeat;}
li#id-pelicula{background-image: url("../img/pelicula.png");}

li#id-pagina-activa{background-image: url("../img/pagina.png");background-position: 5px 5px;background-repeat: no-repeat;}
li#id-pagina{background-image: url("../img/pagina_off.png");background-position: 5px 5px;background-repeat: no-repeat;}
li#id-pagina:hover{background-image: url("../img/pagina.png");}

li#id-proyeccion-activa{background-image: url("../img/proyeccion.png");background-position: 5px 5px;background-repeat: no-repeat;}
li#id-proyeccion{background-image: url("../img/proyeccion_off.png");background-position: 5px 5px;background-repeat: no-repeat;}
li#id-proyeccion:hover{background-image: url("../img/proyeccion.png");}

li#id-edicion-activa{background-image: url("../img/edicion.png");background-position: 5px 5px;background-repeat: no-repeat;}
li#id-edicion{background-image: url("../img/edicion_off.png");background-position: 5px 5px;background-repeat: no-repeat;}
li#id-edicion:hover{background-image: url("../img/edicion.png");}

li#id-documento-activa{background-image: url("../img/documento.png");background-position: 5px 5px;background-repeat: no-repeat;}
li#id-documento{background-image: url("../img/documento_off.png");background-position: 5px 5px;background-repeat: no-repeat;}
li#id-documento:hover{background-image: url("../img/documento.png");}

div#inicio{
	margin-top:20px; float:left;margin-left:70px;width: 875px;
}
div#inicio nav{
	margin-bottom: 20px;
	height: 100px;
}


span.small{
    font-size: 12px;
 	font-weight: normal;
 	margin-left: 3px;
}

div#inicio nav ul.menu{
	padding-left: 35px;
}
div#inicio nav ul.menu > li{
    display: block;
    float: left;
    margin: 0 5px;
    width: 120px;
    font-weight: strong;
    font-size:15px;
    height: 65px;
    padding-left: 50px;
    padding-top:5px;
    width:120px;
    border:1px solid #aaa;
    margin:4px;
    cursor: pointer;
    background-color: #ddd;
}
nav ul.menu > li{
	display: block;
    float: left;
    font-size:12px;
    width: 150px;
    height: 50px;
}

nav ul.menu > li.current{
	background-color: #ce0100;
	background-image: url("../img/navCurrentBtn.gif");
	background-repeat: no-repeat;
	background-position: right top;
}

nav ul.menu > li.current a{
	color:white;
}

span.description{
	font-size: 10px;
	width: 100px;
	margin: 10px 0 0 5px;
}

nav ul.menu > li.step{
	background-image: url("../img/navBtn.gif");
	background-repeat: no-repeat;
	background-position: right top;
	color:#ccc;
	background-color: #ebebeb;
}

nav ul.menu > li.lastdone{
	background-color:#ff9292;
	background-image: url("../img/navLastDoneBtn.gif");
	background-repeat: no-repeat;
	background-position: right top;
}

nav ul.menu > li.done{
	background-color:#ff9292;
	background-image: url("../img/navBtnDone.gif");
	background-repeat: no-repeat;
	background-position: right top;
}

nav ul.menu > li > a{
	color: red;
	margin: 5px 0 0 5px;
	display: block;
	font-size: 15px;
}

nav ul.menu > li > span.title{
	margin: 5px 0 0 5px;
	display: block;
	font-size: 15px;
}


nav ul.menu > li > a:hover{
	color:black;
}

nav ul.submenu{
	font-size: 10px;
}
nav ul.submenu li{
    line-height:14px !important;
    margin:0;
    list-style: none;
}
nav ul.submenu li a{
    color:black;
    font-size: 10px !important;
}
nav ul.submenu li a:hover{
    color:black;
    text-decoration: underline;
}

/* botonera + cambio edicion */
div.cambio-edicion{
	float: right; margin: 5px; padding:0px 15px 0px 0px; height: 40px; background-color: #EFEFEF; border:1px solid #ccc;
}
div.botonera{
	float: right; 
}
div.botonera ul{
}
div.botonera li{
	float:left;display: block;
}
div.botonera li.separata{
	border-right:1px solid #555;
}
div.botonera li.separata a{
	border-right:1px solid #333;
}
div.botonera img{
	margin:0px 5px;
	padding:3px 0px;
	height: 29px;
	width: 29px;
	border:none;
}
div.cambio-edicion img{
	float:left; 
	width:50px;
	height:40px;
}
div.cambio-edicion p{
	float:left; margin-left:15px;
}
p#exit{
	display:inline; float:right;margin:0px;clear: both;
}

/* listado */
aside h2{
    padding-left: 5px;
    border-bottom: 1px solid black;
}

aside ul{
	border:1px solid #ccc;
	background-color: #efefef;
}
aside ul li{
	list-style-type: none;
    height: 20px;
    border-bottom:1px solid #ccc;
    padding:4px 10px;
    cursor:pointer;
}
aside ul li:hover{
	background-color: white;
}
aside ul li.selected{
	background-color: white;
	font-weight: bold;
}
span.titulo{
	font-size: 13px;
}

div.botonera-listado{
	float:right;
}
div.botonera-listado img{
	border: none;
}

/* formularios */
input{
	height: 23px;
}
select{
	height: 25px;
	width: 102% !important;
}

input, textarea, select{
    width: 100%;
    border: 1px solid #AAAAAA;
	font-size: 15px;
	margin-bottom: 15px;
	padding-left: 4px;
	font-family: arial;
}

span.input{
	margin-bottom: 15px;
	padding-left: 6px;
}

.empty{
	background-color: #EEEEEE;
}

input:focus, textarea:focus, select:focus{
	background-color: white;
}

.boton {
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}.boton:hover {
	background-color:#ce0100;
}.boton:active {
	position:relative;
	top:1px;
}
.oculto{
	display:none !important;
}

.disabled{
	background-color:#ccc;
	border:1px solid #ccc;
}

div#msg {
    background: none repeat scroll 0 0 #FCFDE5;
    border: 1px solid #fe3b29;
    color: #fe3b29;
    margin: 20px 20px 0px 20px;
    padding: 5px 20px;
}
h3.ok{
	background: url("../img/ok.png") no-repeat scroll 0 0 transparent;
	padding-left:25px;
}
h3.ko{
	background: url("../img/ko.png") no-repeat scroll 0 0 transparent;
	padding-left:25px;
}
h3.loading{
	background: url("../img/loadingmini.gif") no-repeat scroll 0 0 transparent;
	padding-left:30px;
}
h3.alert{
	background: url("../img/alert.png") no-repeat scroll 0 0 transparent;
	padding-left:25px;
}

div.ok{
	background:#FCFDE5;
	border:2px solid #FFC000;
	color:#505050;
	font-size:16px;
	font-weight:bold;
	margin:10px;
	padding:10px;
	text-align:center;
}
input.error, select.error, textarea.error{
	border:1px solid red;
}
label.error{
	color: red;
}
div.error{
	color: red;
	text-align: center;
	padding-bottom: 10px;
}

/* upload */
div#div-img {
	float:left;
	margin-right:20px;
	font-size: 10px;
	width: 100px;
	height: 100px;
	background-color: #EEEEEE;
}

div#div-img span#change-img {
 	background: url("../img/delete-img.png") no-repeat scroll 0 0 transparent;
    height: 50px;
    position: absolute;
    width: 50px;
    z-index: 100;
    margin-top: -75px;
    margin-left: 25px;
}

div#div-img span#play {
 	background: url("../img/play.png") no-repeat scroll 0 0 transparent;
    height: 50px;
    position: absolute;
    width: 50px;
    z-index: 100;
    margin-top: -75px;
    margin-left: 25px;
}

div#div-img span#view {
 	background: url("../img/view.png") no-repeat scroll 0 0 transparent;
    height: 50px;
    position: absolute;
    width: 50px;
    z-index: 100;
    margin-top: -75px;
    margin-left: 25px;
}

div.upload-img  {
	position: relative;
	overflow:hidden;
	clip:rect(0px, 80px, 24px, 0px );
	border:1px dashed #aaa; 
	color:#aaa;
}

div.upload-img input[type="file"]{
	position: absolute;
	right: 0px;
	top: 0px;
	margin:0;
	padding:0;
	filter: Alpha(Opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100px;
	width:100px;
}

div#div-doc {
	position: relative;
	overflow:hidden;
	clip:rect(0px, 80px, 24px, 0px );
	height: 25px;
	background-color:red;
	width: 90px;
    border-radius: 6px 6px 6px 6px;
    color: white;
    display: inline-block;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding:5px 0px 0px 10px;
    margin-bottom: 15px;
}
div#div-doc:hover {
	background-color:#ce0100;
}
div#div-doc input[type="file"] {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
div#div-doc span{
	position: absolute;
	padding-left: 10px;
}

div.upload-img form {
	padding:0px;
	margin:0px;
	height:100px;
	width:100px;
}

div#div-img:hover{
	background-color: white;
}

div#div-img a{
	font-size: 10px;
}

div#div-img a img{
	border:1px solid red;
}
div#div-img a img:hover{
	border:1px solid #ccc;
}

div.upload-img p{
	background-image: url('../img/upload.png');
	background-position: 2px 50%;
	background-repeat: no-repeat;
	padding: 30px 0px 30px 25px;
	font-weight: bold;
}

div#div-img-info {
	width:380px; 
	float:left;
}
.frame{
	height: 100px;
	width: 100px;
	border:1px solid #ccc;
	float: left;
	margin: 0 20px 0 0;
}
.framedoc{
	border: medium none;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    width: 100%;
    font-family: arial;
}
iframe.frame html{
	margin: 0;
}
iframe.frame body{
	margin: 0;
	font-size:11px;
}
/*
#imagen_uploaded + span {
    background: url("../../commons/img/play.png") no-repeat scroll 0 0 transparent;
    height: 50px;
    left: 30px;
    position: absolute;
    top: 30px;
    width: 50px;
    z-index: 100;
}
*/
div#div-img-info{
	padding-bottom: 10px;
}
div#div-img-info a{
}

div#feedback-doc{
	margin-bottom: 20px;
	height: 20px;
	font-size:15px;
}
div#feedback-doc a:hover{
	background-color: red;
	color:white;
}
div#feedback-doc span{
	font-size:12px;
	padding-left: 20px;
}

.pdf{
	background-image: url('../img/pdf.png');
	background-position: 0px 50%;
	background-repeat: no-repeat;
	padding-left: 20px;
	display: inline;
}

p.input50{
	float:left;
	width: 45%;
	margin-right: 5%;
}

p.input30{
	float:left;
	width: 30%;
	margin-right: 5%;
}
p.input10{
	float:left;
	width: 10%;
	margin-right: 5%;
}
p.input25{
	float:left;
	width: 25%;
	margin-right: 5%;
}
p.select{
	float:left;
	width: 40%;
	margin-right: 10px;
}
p.select select{
	height: 100px;
}
select#id_espacio{
	height: 24px;	
}
p.arrow{
	float:left;
	width: 10%;
	padding-left:10px;
	margin-top:35px;
}
p.arrow img{
	cursor:pointer;
	 margin-bottom: 5px;
}
input.calendario{
	 background: url("../img/calendario.png") no-repeat scroll 135px 1px transparent;
}
input.date{
	 background: url("../img/calendario.png") no-repeat scroll 150px 1px transparent;
}
input.usuario{
	 background: url("../img/user.png") no-repeat scroll 2px 50% transparent;
	 padding-left: 25px;
	 width: 90%;
}
input.password{
	 background: url("../img/password.png") no-repeat scroll 2px 50% transparent;
	 padding-left: 25px;
	 width: 90%;
}
input[type="file"] {
	height: 25px
}
div#map{
	border: 1px solid #CCCCCC;
    clear: both;
    float: left;
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
}

div.info-contact{
	background-color: #EFEFEF;
    border: 1px solid #CCCCCC;
    clear: both;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 12px;
}
div.info-adicional{
	background-color: #EFEFEF;
    border: 1px solid #CCCCCC;
    clear: both;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 12px;
}

/* login */
div.login{
	width:300px; 
	background-color:#efefef; 
	border:1px solid #bbb; 
	margin:30px 50px; 
	padding:20px;
}
div.login input{
	background-color: white !important;
	height: 25px;
}

/* inicio */
div.img_muestra{
	float: left;
	height:130px;
	font-size: 10px;
	margin:20px;
	
}
div.img_muestra a{
	background-color: white;
}
div.img_muestra a img{
	border:2px solid #fe3b29;
}
div.img_muestra a img:hover{
	border:2px solid #ccc;
}